<%= simple_form_for @content, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.input :url, :class => 'input' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.input :title, :class => 'input' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.input :rates, :class => 'input' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls ">
      <%= f.input :user_id, :class => 'input' %>       
 </div>      
  </div>
  <div class="control-group">
    <div class="controls ">
      <%= f.input :tags, :input_html => {"data-pre" => @con.to_a.map.to_json }, :class=>"input-small"%>
    </div>      
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contents_path, :class => 'btn' %>
  </div>
<% end %>
