<%- model_class = Content -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Screamout" %></h1>
</div>

 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= link_to t('.new', :default => t("helpers.links.new")), new_content_path, :class => 'btn btn-primary' %>

<div class="row offset1">
  <% @contents.each do |content| %>
    <div class="span2 well">
    
      <%=link_to image_tag(content.photo.url(:small)),content.url,:target => "_blank" %>
        
      <ul class="buttons_custom">                   
          <li>
          <%= link_to edit_content_path(content) do %>
            <%= content_tag(:i, "" ,:class=>' icon-pencil') %>
          <% end %>
          </li>
          
          <li>
          <%= link_to content_path(content), :method => :delete, :data => {:confirm => 'Are you sure?' } do %>
          <%= content_tag(:span, "" ,:class=>' icon-trash') %>
          <% end %>
          </li>
        <ul>

    </div>
  <% end %>
</div> 