<%- model_class = Content -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="span3 well">

</div>


<table class="table">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:tags_array) %>:</strong></td>
    <td><%= @content.tags_array %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:url) %>:</strong></td>
    <td><%= @content.url %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:image_file_name) %>:</strong></td>
  <td><%= @content.image_file_name %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:rates) %>:</strong></td>
  <td><%= @content.rates %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:rating) %>:</strong></td>
  <td><%= @content.rating %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></td>
  <td><%= @content.user_id %></td>
  </tr>
  <tr>
  <%=  image_tag(@content.photo.url(:small)) %>

</tr>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_content_path(@content), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              content_path(@content),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>