.container-fluid
  = simple_form_for(@content, :html=>{:class => 'form-horizontal'}) do |f|
      
    = f.error_notification
    = f.input :url, :label =>'URL', :placeholder => "Url", :input_html => {class: "input-xlarge"}
    = f.input :title, :label =>'Title', :placeholder => "Title", :input_html => {class: "input-xlarge"}
    = f.input :rates, :label =>'Rates', :input_html => {class: "input-xlarge"}
    .control-group.row
      .span1
        = f.label :tags
      .span7
        = f.input :tags, :label => false, :input_html => {"data-pre" => @content.tag_map.to_json, :id => "contentTags"}
    .div{align: 'center'}
      = f.button :submit ,'Create', :class => 'btn btn-primary'
      = f.button :button ,'Cancel',:class => 'btn btn-danger'
:javascript  
  $('#cancel').on ('click',function(){$('#myModal').modal('hide');})
    
