.container-fluid
  = simple_form_for(@content, :html=>{:class => 'form-horizontal'}) do |f|
      
    = f.error_notification
    .row-fluid
      .div
        = f.label :url, class: "text-left"
      .div
        = f.input :url, :label => false, :placeholder => "Url", :input_html => {class: "input-xlarge margin40"}
    .row-fluid
      = f.label :title, class: "text-left"
      = f.input :title, :label =>false, :placeholder => "Title", :input_html => {class: "input-xlarge margin40"}
    .row-fuid
      = f.label :rates, class: "text-left"
      = f.input :rates, :label =>false, :input_html => {class: "input-xlarge margin40"}
    .row-fluid
      = f.label :tags, class: "text-left"
      = f.input :tags, :label =>false, :input_html => {class: 'input-xlarge tags_container margin40', multiple: true, value: "#{@tags}"}
    .row-fluid{align: 'center'}
      = f.button :submit ,'Create', :class => 'btn btn-primary'
      = link_to "Cancel","javascript:void(0)",id: 'cancel', class: 'btn btn-danger'
:javascript
  $('.tags_container').select2({tags: #{@tags_hash.to_json}, tokenSeparators: [",", " "]})
  $('#cancel').on ('click',function(){$('#myModal').modal('hide');})

