.iframeheading
  %h4
    %center
      %strong Screamout
.content
  .container-fluid{:style => "opacity:1;"}
    .span8
      = simple_form_for(@content, url: iframe_contents_path,
       :html=>{:class => 'form-horizontal', :id=>"newform"}) do |f|
        = hidden_field_tag :authenticity_token, form_authenticity_token
        = f.error_notification
        .row-fluid
          = f.label :url, class: 'text-left'
          = f.input :url, :label =>false, :placeholder => 'Url', input_html:{class: 'input-xxlarge margin40'}
        .row-fluid
          = f.label :title, class: 'text-left'
          = f.input :title, :label =>false, :placeholder => 'Title', input_html:{class: 'input-xxlarge margin40'}  
        .row-fluid
          = f.label :rates, class: 'text-left'
          = f.input :rates, :label =>false, input_html:{class: 'input-xxlarge margin40'}  
        .row-fluid
          = f.label :tags, class: 'text-left'
          = f.input :tags, :label =>false, :input_html => {class: 'input-xxlarge margin40', :id => "contentTags"}
        .row-fluid
          = f.button :submit ,'Create', :class => 'btn btn-primary', :id => "create"
          = f.button :button ,'Cancel', :class => 'btn btn-danger', :id => "cancel"
  :javascript
    $('#contentTags').select2({tokenSeparators: [",", " "], placeholder: 'Select Tag', tags: #{@tags_hash.to_json}})
    askData = function(){
      parent.window.postMessage("fetch", "*");
    };


    var receiveMessage = function(event){
      data = event.data.split(',');

      document.getElementById('content_title').value = data[0];
      document.getElementById('content_url').value = data[1];
    };

    $('#cancel').on ('click',function(){parent.window.postMessage("removetheiframe", "*");})
    

    window.addEventListener("message", receiveMessage, false);
    window.onload = askData;
