%html
  %head
    %title
  %body
    = "Title:"
    = link_to "#{@title}", "#{HOST_URL}/screamout/contents"
    %br
    = "By: #{@content.user.public_profile.name.titleize}"

    %footer
      %p
        Regards,
        %p
          Josh Team
