%html
  %head
    %title

  %body{style: "text-align: center"}
    = "Title:"
    = link_to "#{@title}", @content.url
    %br
    = "-#{@content.user.public_profile.name.titleize}"
    %br
    %br
    %div{ style: "position: relative; overflow: hidden; min-height: 215px;"}
      = link_to image_tag(attachments['screamout.jpg'].url), "#{HOST_URL}/screamout/contents" 
    
